html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.main__title {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 20px;
    text-align: center;
}

.header {
    height: 100vh;
    width: 100%;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, #C3D5E6 0%, rgba(255, 255, 255, 0.00) 100%);
    z-index: -2;
}

.header__top {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.menu__list {
    display: flex;flex-wrap: nowrap;
    align-items: center;
    gap: 0 40px;
    font-weight: 700;
}

.menu__btn {
    padding: 16px 70px;
    border-radius: 30px;
    background-color: #000;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.header__content-images {
    padding-bottom: 100px;
    padding-top: 40px;
    max-width: 100%;
    text-align: center;
    position: relative;
    left: 65px;
}

.title {
    font-size: 220px;
    font-weight: 700;
    position: absolute;
    padding-top: 100px;
}

.title--m,
.title--ax {
    font-size: 190px;
}

.title--air {
    position: relative;
    z-index: 1;
}

.title--pod {
    position: relative;
    z-index: -1;
}

.title--s {
    display: inline-block;
    position: relative;
    z-index: 1
}

.title--m {
    position: relative;
    top: 420px;
    left: -100px;
    z-index: 1;
}

.title--ax {
    position: relative;
    top: 495px;
    left: -110px;
    z-index: -1;
}

.choose-color {
    padding: 100px 0 180px;
    text-align: center;
}

.choose-color__title {
    font-size: 36px;
    font-weight: 700;
    max-width: 555px;
    margin: 120px auto 40px;
}

.choose-color__text {
    max-width: 555px;
    margin: 0 auto 80px;
}

.choose-color__list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.choose-color__btn {
    border-radius: 20px;
    border: 1px solid #CDCDCD;
    padding: 25px 35px;
}

.composition {
    margin-bottom: 180px;
}

.composition__title {
    margin-bottom: 40px;
}

.composition__text {
    max-width: 655px;
    text-align: center;
    margin: 0 auto 80px;
}

.composition__inner {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.composition__inner-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.composition__inner-text p {
    width: 230px;
}

.case {
    background-color: #fafafa;
    padding: 50px 0 50px;
    text-align: center;
}

.case__text {
    max-width: 825px;
    margin: 0 auto 40px;
}

.energy__title {
    padding-top: 180px;
}

.energy__num {
    font-size: 220px;
    font-weight: 700;
    margin-bottom: 20px;
}

.energy__text {
    max-width: 400px;
    margin: 0 auto 100px;
}

.audio {
    position: relative;
}

.audio::before{
    content: '';
    background-image: url(../images/audio-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.audio::after {
    content: '';
    position: absolute;
    background-image: url(../images/sound.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    bottom: -200px;
    width: 100%;
    left: 0;
    right: 0;
    height: 150vh;
    z-index: -1;
}

.audio__inner {
    min-height: 200vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.audio__box {
    color: #fff;
    text-align: center;
    padding-bottom: 30vh;
}

.audio__text {
    width: 300px;
    text-align: center;
    margin-bottom: 25px;

}

.btn {
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 16px 70px;
    border-radius: 30px;
    margin-top: 25px;
    cursor: pointer;
}

.footer{
    padding: 50px 0 35px;
    background: #000;
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.footer__text{
    padding: 20px 0;
}

.footer__list{
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 1410px){
    .header__content-images{
        left: 0;
    }
    .header__content-images img{
        max-width: 100%;
        margin-bottom: 100px;
    }
    .title{
        font-size: 180px;
        left: 145px;
    }
    .title--ax{
        z-index: 1;
    }
}

@media (max-width: 1295px){
    .title{
        font-size: 140px;
        padding-top: 20vh;
        left: 0;
        right: 0;
        text-align: center;
    }
    .title--m,
    .title--ax{
        left: 0;
        top: 0;
        font-size: 140px;
    }
    .title--m,
    .title--s{
        z-index: -1;
    }
    .choose-color__title{
        padding-top: 30px;
    }
}

@media (max-width: 930px){
    .title{
        font-size: 100px;
    }
    .title--m,
    .title--ax{
        font-size: 100px;
        z-index: 1;
    }
    .choose-color {
        padding-top: 40px;
    }
}

@media (max-width: 768px){
    .choose-color{
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .choose-color__title{
        margin-top: 0px;
    }
    .choose-color__list{
        gap: 16px;
    }
    .main__title{
        font-size: 36px;
    }
    .composition{
        margin-bottom: 60px;
    }
    .case{
        padding: 40px 0;
    }
    .energy__title{
        padding-top: 60px;
        margin-bottom: 20px;
    }
    .energy__text{
        margin-bottom: 40px;
    }
    .energy__num{
        font-size: 110px;
        margin-bottom: 20px;
    }
}

@media (max-width: 625px){
    .title,
    .title--m,
    .title--ax{
        font-size: 75px;
    }
}

@media (max-width: 560px){
    .choose-color{
        padding-bottom: 40px;
    }
    .choose-color__text{
        margin-bottom: 40px;
    }
    .case{
        padding: 40px 0;
    }
    .composition__inner{
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }
    .composition__text{
        margin-bottom: 40px;
    }
    .composition__inner-text p{
        width: 100%;
    }
    .main__title,
    .choose-color__title{
        font-size: 28px;
    }
    .energy__num{
        font-size: 92px;
    }
    .case img{
        max-width: 100%;
    }
    .title{
        position: relative;
        padding-top: 0px;
    }
    .title,
    .title--m,
    .title--ax{
        font-size: 48px;
    }
    .menu__list{
        flex-wrap: wrap;
        gap: 20px 40px;
    }
    .menu__item-btn{
        margin-left: auto;
    }
    .menu__item-btn button{
        width: 250px;
    }
    .menu__item:first-child{
        margin-left: auto;
    }
    .header__top{
        align-items: flex-start;
    }
}

